{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h1 class="title">Number of Queries</h3>
    <div class="box">
        <div class="control">
            <textarea id=numqueries class="textarea" readonly>{{querycount}}</textarea>
        </div>
    </div>
</div>
<div class="box">
    <p><strong>Your Queries</strong></p>
        {% for row in value %}
                <br>
                <a id=query{{row.query_id}} href="/history/query{{row.query_id}}">{{row.query_id}}</a>
                <br>
        {% endfor %}
</div>
{% endblock %}