<!-- templates/login.html -->
<!--Adapted from https://github.com/PrettyPrinted/flask_auth_scotch-->
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="notification {{category}}" id=result>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field" id=uname>
                <div class="control">
                    <input id=uname class="input is-large" type="email" name="uname" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field" id=pword>
                <div class="control">
                    <input id=pword class="input is-large" type="password" name="pword" placeholder="Your Password">
                </div>
            </div>

            <div class="field" id=2fa>
                <div class="control">
                    <input id-2fa class="input is-large" type="number" name="2fa" placeholder="Your 2FA">
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}
