<!-- templates/signup.html -->
<!--Adapted from https://github.com/PrettyPrinted/flask_auth_scotch-->
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="notification {{category}}" id=success>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field" id=uname>
                <div class="control">
                    <input id=uname class="input is-large" type="email" required name="uname" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field" id=pword>
                <div class="control">
                    <input id=pword class="input is-large" type="password" required name="pword" placeholder="Password">
                </div>
            </div>

            <div class="field" id=2fa>
                    <div class="control">
                        <input id=2fa class="input is-large" type="number" required name="2fa" placeholder="Phone Number" autofocus="">
                    </div>
                </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
